<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net462" />
  <package id="HttpToSocks5Proxy" version="1.0.5" targetFramework="net462" />
  <package id="Leaf.xNet" version="5.1.43" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net462" />
  <package id="Telegram.Bot" version="14.10.0" targetFramework="net462" />
</packages>